CST::BEGIN
 TEMPLATE:: ATOM_MAP: 1 atom_name: OD2 CG OD1
 TEMPLATE:: ATOM_MAP: 1 residue3: ASP

 TEMPLATE:: ATOM_MAP: 2 atom_name: ND1 CE1 NE2
 TEMPLATE:: ATOM_MAP: 2 residue3: HIS

 CONSTRAINT:: distanceAB: 3.1 0.2 100. 0 0
 CONSTRAINT:: angle_A: 96.2 10.0 10.0 360.0 1
 CONSTRAINT:: angle_B: 99.1 10.0 10.0 360.0 1
 CONSTRAINT:: torsion_A: 23.613 20.0 10.0 360.0 1
 CONSTRAINT:: torsion_AB: -163.213 20.0 10.0 360.0 1
 CONSTRAINT:: torsion_B: 178.241 20.0 10.0 360.0 1

 ALGORITHM_INFO:: match_positions
 ALGORITHM_INFO::END

CST::END

CST::BEGIN
 TEMPLATE:: ATOM_MAP: 1 atom_name: NE2 CE1 ND1
 TEMPLATE:: ATOM_MAP: 1 residue3: HIS

 TEMPLATE:: ATOM_MAP: 2 atom_name: SG CB CA
 TEMPLATE:: ATOM_MAP: 2 residue3: CYS

 CONSTRAINT:: distanceAB: 4.0 0.2 100. 0 0
 CONSTRAINT:: angle_A: 74.4 10.0 10.0 360.0 1
 CONSTRAINT:: angle_B: 86.6 10.0 10.0 360.0 1
 CONSTRAINT:: torsion_A: 169.141 20.0 10.0 360.0 1
 CONSTRAINT:: torsion_AB: 89.564 20.0 10.0 360.0 3
 CONSTRAINT:: torsion_B: -172.436 20.0 10.0 360.0 1

 ALGORITHM_INFO:: match_positions
 ALGORITHM_INFO::END
CST::END


CST::BEGIN
 TEMPLATE:: ATOM_MAP: 1 atom_name: SG CB CA
 TEMPLATE:: ATOM_MAP: 1 residue3: CYS

 TEMPLATE:: ATOM_MAP: 2 atom_name: C O CA
 TEMPLATE:: ATOM_MAP: 2 residue1: ARNDCQEGHILKMFPSTWYV

 CONSTRAINT:: distanceAB: 2.6 0.2 100. 1 0
 CONSTRAINT:: angle_A: 105.9 10.0 10.0 360.0 1
 CONSTRAINT:: angle_B: 87.2 10.0 10.0 360.0 1
 CONSTRAINT:: torsion_A: 106.107 20.0 10.0 360.0 1
 CONSTRAINT:: torsion_AB:  -46.548 20.0 10.0 360.0 3
 CONSTRAINT:: torsion_B: -80.233 20.0 10.0 360.0 1

 ALGORITHM_INFO:: match_positions
 ALGORITHM_INFO::END
CST::END

CST::BEGIN
 TEMPLATE:: ATOM_MAP: 1 atom_name: NE2 CD2 CE1
 TEMPLATE:: ATOM_MAP: 1 residue3: HIS
 TEMPLATE:: ATOM_MAP: 2 atom_name: N CA C
 TEMPLATE:: ATOM_MAP: 2 residue1: ARNDCQEGHILKMFPSTWYV

 CONSTRAINT:: distanceAB: 4.3 10 0.2 100. 1 0
 CONSTRAINT:: angle_A: 116.5 10.0 10.0 360.0 1
 CONSTRAINT:: angle_B: 82.9 10.0 10.0 360.0 1
 CONSTRAINT:: torsion_A: -156.722 20.0 10.0 360.0 1
 CONSTRAINT:: torsion_AB: -73.721 20.0 10.0 360.0 3
 CONSTRAINT:: torsion_B: 147 20.0 10.0 360.0 1

 ALGORITHM_INFO:: match_positions
 ALGORITHM_INFO::END
CST::END

